##################################################
#
#   ${comments}
#
##################################################
extend type Query {
    # 分页查询 #
    ${classname}List(input:${className}PageInput):Nrd${className}Pagination
    # 查询全部 #
    ${classname}All(input:${className}Input):[${className}Vo]
#if(${pk})
    # 查询详细 #
    ${classname}Detail(${pk.attrname}:ID):${className}Vo
#end
}

extend type Mutation {
    ${classname}Save(input:${className}Input):Boolean

    ${classname}Update(input:${className}Input):Boolean

#if(${pk})
    ${classname}Delete(ids:[ID]):Boolean
#end
}

#请求参数
input ${className}Input {
#foreach ($column in $columns)
#if($column.columnName == $pk.columnName)
    $column.attrname:ID #$column.comments
#elseif($column.attrType == 'Integer')
    $column.attrname:Int #$column.comments
#elseif($column.attrType == 'Date')
    $column.attrname:String #$column.comments
#else
    $column.attrname:$column.attrType #$column.comments
#end
#end
}

#分页请求参数
input ${className}PageInput {
    offset: Int! # 跳过前offset条数据
    limit: Int! # 读取limit条数据
    keyword:String #关键字
}

#分页展示数据
type Nrd${className}Pagination {
    total:Int #总页数
    offset:Int #第几页
    limit:Int #页数量
    data:[${className}Vo] #数据列表
}

#数据详情
type ${className}Vo {

#foreach ($column in $columns)
#if($column.columnName == $pk.columnName)
    $column.attrname:ID #$column.comments
#elseif($column.attrType == 'Integer')
    $column.attrname:Int #$column.comments
#else
    $column.attrname:$column.attrType #$column.comments
#end
#end
}
