package ${package}.${project}.api.controller;

import com.seaboxdata.commons.query.PaginationResult;
import ${package}.${project}.api.FeignClientConfig;
import ${package}.${project}.api.vo.${className}Vo;
import ${package}.${project}.api.input.${className}PageInput;
import io.swagger.annotations.ApiOperation;
import org.springframework.cloud.openfeign.FeignClient;
import org.springframework.cloud.openfeign.FeignClientsConfiguration;
import org.springframework.web.bind.annotation.*;

import java.util.List;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@FeignClient(contextId = "${className}",
        name = FeignClientConfig.NAME, configuration = FeignClientsConfiguration.class)
public interface I${className}Controller {

    /**
     * 分页
     */
    @GetMapping("/${classname}/page")
    PaginationResult<${className}Vo> ${classname}Page(@RequestBody ${className}PageInput ${classname}PageInput);

    /**
     * 列表
     */
    @GetMapping("/${classname}/list")
    List<${className}Vo> ${classname}List(@RequestBody ${className}Vo ${classname}Vo);


#if(${pk})
    /**
     * 详细信息
     */
    @GetMapping("/${classname}/details/{${pk.attrname}}")
    ${className}Vo ${classname}Detail(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname});
#end

    /**
     * 保存
     */
    @PostMapping("/${classname}/save")
    Boolean ${classname}Save(@RequestBody ${className}Vo ${classname}Vo);

    /**
     * 修改
     */
    @PostMapping("/${classname}/update")
    Boolean ${classname}Update(@RequestBody ${className}Vo ${classname}Vo);

#if(${pk})
    /**
     * 删除
     */
    @DeleteMapping("/${classname}/delete")
    Boolean ${classname}Delete(@RequestBody ${pk.attrType}[] ${pk.attrname}s);
#end

}
