package ${package}.${project}.input;

import lombok.Data;
import lombok.experimental.Accessors;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

import java.io.Serializable;
import java.util.Date;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@Accessors(chain = true)
public class ${className}Input implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)

	/**
	 * $column.comments
	 */
	private $column.attrType $column.attrname;
#end
}
